
hr {
  margin-top: 10px;
}

.profilePicture {
  max-width: 60px;
  max-height: 60px;
}

.profileRightbar {
  max-width: 50px;
  max-height: 50px;
}
.cartillaOpinion {
  background-color: white;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.cartillaOpinion img {
  border: 1px solid transparent;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

