.btnTwitter {
  background-color: #1da1f2;
  color: whitesmoke;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profilePicture {
  max-width: 60px;
  max-height: 60px;
}

.profileRightbar {
  max-width: 50px;
  max-height: 50px;
}
